.cabal-sandbox/
.hpc
.hsenv
.HTF/
.shake
.stack-work/
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
build.cabal
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
ff-core.cabal
ff.cabal
